body {
    background-color: #774629;
}

header {
  display: flex;
  background-color: #858585;
  width: 540px;
  height: 90px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

button { 
  background-color: #858585;
  color: red;
}

.heading {
  text-align: center;
  font-size: 40px;
  color: #000000;
}

main { 
  width: 500px;
  margin: 0 auto;
  padding: 0 20px 20px;
  background-color: #858585;

}

.screen {
  display: grid;
  justify-items: end;
  width: 470px;
  height: 90px;
  padding: 15px;
  background-color: #028090;
  margin-bottom: 15px;
  color: #e8f1f2;
  overflow: hidden;
  border-radius: 15px;
}

#history {
  align-self: start;
  overflow: hidden;
  white-space: nowrap;
}

#display {
  align-self: end;
  font-size: 30px;
  overflow: hidden;
}

.buttons {
  display: grid;
  gap: 1px;
  height: 450px;
  grid-template:
    'clear backspace power divide'
    'seven eight nine multiply'
    'four five six minus'
    'one two three plus'
    'zero dot equal plus';
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #e8f1f2;
  background-color: #028090;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  border: none;
  outline: 0;
  border-radius: 15px;
  margin: 2%;

}

.button:hover {
  background-color: #1d2d44;
  transition: all 0.2s;
}
 
.operator,
.Equal,
.Dot
 {
  background-color: #114B5F;
}

.clear,
.Backspace {
  background-color: #F45B69;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #858585;
  width: 540px;
  padding-bottom: 20px;
}
  
.copyright {
  color: #028090;
  font-weight: 600;
}
  
.copyright a {
  color: #114B5F;
  text-decoration: none;
}
  
.copyright a:hover {
  color: #1d2d44;
  text-decoration: underline;
  text-decoration-color: #F45B69;
  text-decoration-thickness: 2px;
}

/* Buttons */
#zero {
  grid-area: zero;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#num-dot {
  /* grid-area: decimal; */
}
#equal {
  grid-area: equal;
}
 #add {
  grid-area: plus;
}
#subtract {
  grid-area: minus;
} 
#multiply {
  grid-area: multiply;
} 
#divide {
  grid-area: divide;
}
#power {
  grid-area: power;
}
#backspace {
  grid-area: backspace;
}
#clear {
  grid-area: clear;
}
